.activity-container {
    display: flex;
    justify-content: space-around;
}

.item{
    text-align: left;
    width: 14%;
    height: 200px;
}

.activity-title{
    font-size: 36px;
    text-align: center;
}

textarea {
    border: 3px solid #cccccc;
    width: 97%;
    font-size: 1.3em;
    background-image:none;
    background:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.act-button{
    margin: 30px;
    position: absolute;
    left: 92%;
}

